# Ignore temporaries from GameCI
/[Aa]rtifacts/
/[Bb]uild/
/[Bb]uilds/[Cc]odeCoverage/
/.vs
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/team-07-minigame
/.vs/team-07-minigame/FileContentIndex
/.vs/team-07-minigame/FileContentIndex/58d46fba-25ec-4207-b8ce-36aedee54c3e.vsidx
/.vs/team-07-minigame/FileContentIndex/5bf19c09-6c26-4baa-bdc9-7f95dc6e1d23.vsidx
/.vs/team-07-minigame/FileContentIndex/61a60c47-18bb-4360-a0ab-84739e6fdc92.vsidx
/.vs/team-07-minigame/FileContentIndex/82e1cf31-2afa-4216-9c68-8355817271fb.vsidx
/.vs/team-07-minigame/FileContentIndex/b3ee51d7-f4ca-4fa7-bca3-0eb7a704a8d8.vsidx
/.vs/team-07-minigame/v17
/.vs/team-07-minigame/v17/.wsuo
/.vs/team-07-minigame/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
